.hero-area{
    padding: 100px 0;
}
.hero-heading{
    font-size: 60px;
    font-weight: 600;
}
.content{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
    color: #2552F4;
    
}
.hero-btn{
    background-color: #ffffff!important;
    font-size: 20px;
    margin-top: 20px!important;
    transition: all .3s;
    display: inline-block;
    margin-left: 0px!important;
}
.hero-btn:hover{
    transform: translateY(-4px);
    box-shadow: -1px 10px 36px -14px rgb(34 64 187 / 7%);
}
.hero-grid,.about-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}
.hero-images-wrapper{
    text-align: right;
    display: flex;
    justify-content: end;
}
.hero-images-wrapper img {
    width: 80%;
}
.hero-subheading{
    font-size: 30px;
}
.name,.heading-color{
    color: #2552F4;
}
@media screen and (max-width: 1200px){
    .hero-heading {
        font-size: 50px;
    }
}
@media screen and (max-width: 991px){
    .hero-heading {
        font-size: 38px;
    }
    .hero-subheading {
        font-size: 22px;
    }
    .hero-area {
        padding: 60px 0;
    }
    .about-image-wrapper img{
        width: 80%;
    }
    .paragraph {
        font-size: 16px;
        line-height: 24px;
    }
}
@media screen and (max-width: 768px){
    .hero-grid,.about-grid {

        grid-template-columns: repeat(1, 1fr);
 
    }
    .hero-content-wrapper,.about-content-wrapper{
        text-align: center;
    }

    .hero-images-wrapper{
        text-align: center;
        padding-top: 30px;
    }
    .hero-heading {
        font-size: 32px;
    }
    .hero-subheading {
        font-size: 18px;
    }
    .dekstop{
        display: none;
    }
    .mobile{
        display: block;
        display: flex;
        justify-content: center;
        padding-top: 30px;
    }
    .paragraph {
        font-size: 14px;
    }
    .about-image-wrapper img {
        width: 70%;
    }
}